@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

:root {
  --fs-h1: 8rem;
  --fs-h2: 4rem;
  --fs-p: 1.5rem;
  --fs-input: 1rem;
}

* {
  padding: 0;
  margin: 0;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body, button {
  background-color: rgb(17, 17, 17);
  font-family: 'Oswald', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

p {
  font-size: var(--fs-p);
}

.Button {
  display: inline-block;
  padding: 10px 28px 10px 28px;
  border-radius: 3px;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.Button:hover {
    box-shadow: -1px 1px 0 0 #000;
    transform: translate(1px, -1px);
}

input {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  outline: 0;
  margin-top: 5px;
  margin-bottom: 20px;

  font-family: 'Oswald', sans-serif;
  font-size: var(--fs-input);
}

  input:focus {
    border-color: rgb(17, 17, 17);
  }

textarea {
  width: 100%;
  height: 104px;
  border: 2px solid #ddd;
  outline: 0;
  border-radius: 4px;
  padding: 5px 16px;
  margin-top: 5px;
  margin-bottom: 20px;
  resize: none;
    
  font-family: 'Oswald', sans-serif;
  font-size: var(--fs-input);
}

  textarea:focus{
    border-color: rgb(17, 17, 17);
  }

/*header*/

#header {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, .4);
  backdrop-filter: blur(10px); 
  width: 100%;
  min-height: 3.2rem;
  z-index: 2;
  justify-content: end;
  overflow: hidden;

  transition:all .5s ease;
}
  #header ul {
    list-style-type: none;
    overflow: hidden;
  }
    
  #header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #header li a:hover {
    background-color: #1111119a;
  }

#nav-name {
  position: fixed;
  top: 0;
  left: 0;

  font-size: 30px;
  color: white;
  transition: opacity 0.5s ease;
  opacity: 0.80;
  margin-left: 1%;
}

#nav-name.alt {
  opacity: 0;
}

.nav-check {
  display: none;
}

.nav-label {
    padding: 24px 20px;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
}

.nav-icon {
    background: #f2f2f2;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
}

.nav-icon:before,
.nav-icon:after {
  background: #f2f2f2;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
}

.nav-icon:before {
  top: 5px;
}
  
.nav-icon:after {
  top: -5px;
}


.nav-check:checked ~ .nav-label .nav-icon {
  background: transparent;
}

.nav-check:checked ~ .nav-label .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.nav-check:checked ~ .nav-label .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}

.nav-check:not(:checked) ~ .menu {
  display: none;
}

/*home section*/

#home-section{
 flex-direction: column;
 min-height: 100vh;
 background-color: black;
 box-shadow: 0 30px 40px rgba(0, 0, 0, 0.87);
}

  #home-section video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    transition-delay: 0.5s;
  }

  #home-section h1{
    transition: opacity 0.8s ease, transform 0.8s ease, filter 0.25s ease;
    transform: translateX(0);
    transition-delay: 1.25s;
    filter: blur(0);
    opacity: 0.85;
    color: white;
    margin-right: 10%;
    margin-left: auto;
    user-select: none;
  }

  #home-section h2 {
    transition: opacity 0.8s ease, transform 0.8s ease, filter 0.25s ease;
    transform: translateX(0);
    transition-delay: 1.5s;
    filter: blur(0);
    opacity: 0.85;
    color: white;
    margin-right: 10%;
    margin-left: auto;
    user-select: none;
  }

  #home-section.hidden video {
    opacity: 0;
  }

  #home-section.hidden h1 {
    opacity: 0;
    transform: translateX(0.25em);
    filter: blur(2px);
  }

  #home-section.hidden h2 {
    opacity: 0;
    transform: translateX(0.25em);
    filter: blur(2px);
  }

/*About me section*/

#about-me-section{
  padding: 0 20%;
}
  
  #about-me-section img {
    width: 40%;
    border-radius: 3px;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    margin-top: 10rem;
    margin-bottom: 4rem;
  }
  
#about-me-text {
  color: rgb(194, 194, 194);
  width: 50%;
  margin-left: 10rem;
}
  
  #about-me-text h2 {
    margin-bottom: 5%;
  }

/*Project section*/

#projects-section {
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

  #projects-section h2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }

  #projects-section a {
    margin-top: 0.5%;
  }

.grid {
  width: 90%;
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
  
.card {
  margin: 30px;
  position: relative;
  height: 300px;
  width: 480px;
  border-radius: 3px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.card-info {
  height: 150px;
  background-color: rgb(255, 255, 255);
  transform: translateY(100%)
    translateY(110px)
    translateZ(0);
  transition: transform 0.5s ease-out;
}

.card:hover .card-info {
    transform: translateY(175px) translateZ(0);
}

.card-title {
  margin: 0;
  padding: 6px 10px;
  font-size: 1.5rem;
  line-height: 1;
  color: rgba(0, 0, 0, 0.87);
}
  
.card-description {
  margin: 0;
  padding: 0 20px 8px;
  font-size: 1.10rem;
  line-height: 1.5;
}

.card a {
  color: #4e958b;
  text-decoration: none;
  margin: 10px;
}

/* skills section */

#skills-section{
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

#skills-container {
  display: grid;
  max-width: 80%;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
  margin-bottom: 10px;
  font-size: 20px;
}

  #skills-section h2{
    margin-bottom: 30px;
  }

  #skills-section p{
    color: rgb(65, 65, 65);
  }

  #skills-section ul{
    list-style-type: none;
  }

  #skills-section li{
    margin-bottom: 20px;
  }

  /*Contact section*/

#contact-section{ 
  flex-direction: column;
  min-height: 50vh;
  background-color: rgb(255, 255, 255);
}
  #contact-section input {
    width: 100%;
  }

  #contact-section ul {
    list-style-type: none;
  } 

  #contact-section li {
    margin-bottom: 10px;
  } 

  #contact-section p {
    margin-top: 30px;
    margin-bottom: 20px;
  } 

  #contact-section h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

#contact-container {
  display: grid;
  max-width: 80%;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  margin-bottom: 30px;
}

#contact-form{
  width: 300px;
}

#contact-left {
  width: 350px;
}

/*footer*/

footer {
  color: rgb(194, 194, 194);
  text-align: center;
  height: 60px;
  line-height: 60px;
}

/*Screen sizing*/

@media screen and (max-width: 1920px) {
  :root {
    --fs-h1: 7rem;
  }
}

@media screen and (max-width: 1680px) {
  :root {
    --fs-h1: 6rem;
  }

  #about-me-section{
    max-width: 80%;
  }
}

@media screen and (max-width: 1280px) {

  :root {
    --fs-h1: 5rem;
    --fs-h2: 3rem;
    --fs-p: 1.25rem;
  }
}

@media screen and (max-width: 980px) {
  :root {
    --fs-h1: 5rem;
    --fs-h2: 2.5rem;
  }

  #home-section h1 {
    margin-right: auto;
  }

  #home-section h2 {
    margin-right: auto;
  }

  #about-me-section{
    flex-direction: column;
    padding: 0 10%;
  }

  #about-me-section img {
    width: 80%;
  }

  #about-me-text {
    width: 80%;
    margin-bottom: 10%;
    margin-left: 0;
  }

  #about-me-text h2 {
    text-align: center;
  }

  #about-me-section{
    grid-template-columns: repeat(1, 1fr);
  }

  #skills-container {
    grid-template-columns: 1fr;
  }

  #contact-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 720px){
  #menu {
    display: block;
  }

  #header li {
    float: left;
  }

  .nav-label{
    display: none;
  }
}

@media screen and (max-width: 720px) {
  :root {
    --fs-h1: 4rem;
    --fs-p: 1.15rem;
  }

  #header ul {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 4rem;
  }

  .card {
    height: 240px;
    width: 280px;
  }

  .card-info {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transform: none;
  }
  
  .card:hover .card-info {
      transform: none;
  }

  .card-description {
    margin: 0;
    padding: 0 10px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --fs-h1: 3.5rem;
  }
}